@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.text {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.block {
  min-width: 300px;
  min-height: 260px;
  padding: 20px;
  @include flexbox(center, space-between);
  flex-direction: column;
  border: solid 1px #1fc7d4;
  border-radius: 20px;
  margin: 10px;
}

.blockWrap {
  @include flexbox();
}