@import 'assets/styles/mixins';

.main {
  @include flexbox(center, flex-start);
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  min-height: 600px;
  height: 100%;
  overflow: scroll;
}

.pages {
  @include flexbox();
  flex-direction: column;
  width: 100%;
  background: #ffffff;
}
